<div class="modal fade" id="cartModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="titleList mt-4">
                    <h5 class="cart-title" id="restaurantName"></h5>
                </div>
                <button type="button" class="btn-close" id="modal-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div>
                <!-- List group with active and disabled items -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item my-2" id="itemList">
                        <div class="d-flex justify-content-between">
                            <b>상품</b>
                            <b>수량</b>
                            <b>금액</b>
                            <b>총 금액</b>
                            <b>삭제</b>
                        </div>
                    </li>
                </ul>
                <!-- End Clean list group -->
            </div>
            <div class="modal-footer px-4 my-2 flex-column" id="footerModal">
                <div class="d-flex justify-content-between">
                    <h4 style="font-weight: 600">총 결제금액</h4>
                    <h4 id="sumPrice"></h4>
                </div>
                <button type="button" class="btn btn-success btn-lg" id="payBtn"
                    onclick="window.location.href='/order'">결제하기</button>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/cart.js" defer></script>