<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>Toy Delivery Web</span></strong>. All Rights Reserved
    <p class="fs-12" style="color: gray;">해당 사이트는 실제 운용되지 않는 프로젝트입니다.</p>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>