<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="/storeList?value=category%20한식">
                <i class="far fa-soup"></i>
                <span>한식</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/storeList?value=category%20분식">
                <i class="far fa-shish-kebab"></i>
                <span>분식</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/storeList?value=category%20카페&디저트">
                <i class="fal fa-coffee"></i>
                <span>카페 & 디저트</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/storeList?value=category%20치킨">
                <i class="far fa-turkey"></i>
                <span>치킨</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/storeList?value=category%20피자">
                <i class="far fa-pizza-slice"></i>
                <span>피자</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/storeList?value=category%20아시안">
                <i class="far fa-burrito"></i>
                <span>아시안</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/storeList?value=category%20양식">
                <i class="far fa-steak"></i>
                <span>양식</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/storeList?value=category%20일식">
                <i class="far fa-fish"></i>
                <span>일식</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/storeList?value=category%20중국집">
                <i class="far fa-wheat"></i>
                <span>중국집</span>
            </a>
        </li>

        <% if(group==1) { %>
            <li class="nav-heading">관리</li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="users-profile.html">
                    <i class="fal fa-hat-chef"></i>
                    <span>레스토랑 관리</span>
                </a>
            </li>
            <!-- End Profile Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="users-profile.html">
                    <i class="fal fa-comments-alt"></i>
                    <span>리뷰 관리</span>
                </a>
            </li>
            <!-- End Profile Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="pages-faq.html">
                    <i class="fal fa-file-invoice-dollar"></i>
                    <span> 주문 관리</span>
                </a>
            </li>
            <!-- End F.A.Q Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="pages-faq.html">
                    <i class="fal fa-utensils-alt"></i>
                    <span>메뉴 관리</span>
                </a>
            </li>
            <!-- End F.A.Q Page Nav -->
            <% } %>
    </ul>
</aside>
<!-- End Sidebar-->