<%- include('includes/header') %>
  <%- include('includes/sidebar') %>

    <main id="main" class="main">

      Hello world :)

    </main><!-- End #main -->

    <%- include('includes/footer') %>

      <!-- Template Main JS File -->
      <script src="assets/js/main.js"></script>
      <script type="module" src="assets/js/index.js"></script>
      </body>

      </html>