<%- include('includes/header') %>
  <%- include('includes/sidebar') %>

    <main id="main" class="main">

      <section class="section dashboard">
        <div class="row">

          <!-- Left side columns -->
          <div class="col-lg-4">
            <div class="row">

              <!-- Sales Card -->
              <div class="card info-card sales-card" style="height: 250px;">

                <div class="card-body">
                  <h5 class="card-title">업체명 <span>| 카테고리</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-star-fill"></i>
                    </div>
                    <div class="ps-3">
                      <h6>4.5</h6>
                      <span class="text-success small pt-1 fw-bold">리뷰 평점</span>
                    </div>
                  </div>
                  <p class="small pt-1" style="margin-left: 30px; margin-top: 20px;">서울특별시 동작구 대방동 12 업체</p>
                  <p class="small pt-1" style="margin-left: 30px;">0504-1234-5678</p>
                </div>

              </div>
            </div><!-- End Left side columns -->
          </div>

          <!-- Right side columns -->
          <div class="col-lg-8">

            <!-- Recent Activity -->
            <div class="card" style="height: 250px;">
              <div class="card-body">
                <h5 class="card-title">안내사항</h5>

                <div class="activity">
                  단무지도 시켜드셔야합니다<br>
                  이 세상 공짜는 없단말이죠;<br><br>
                  리뷰 이벤트 진행중입니다.<br>리뷰 착하게 써주시면, 단무지 서비스요~
                </div>

              </div>
            </div><!-- End Recent Activity -->

          </div><!-- End Right side columns -->

          <div class="col-lg-12">
            <div class="card">
              <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview"
                      aria-selected="true" role="tab">메뉴</button>
                  </li>

                  <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" aria-selected="false"
                      tabindex="-1" role="tab">리뷰</button>
                  </li>

                </ul>
                <div class="tab-content pt-2">
                  <div class="tab-pane fade show active profile-overview" id="profile-overview" role="tabpanel">

                    <!-- 메뉴 아이템 시작 -->
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="col-md-2">
                          <img src="/assets/img/card.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">후라이드 치킨</h5>
                            <p class="card-text">9,000원</p>
                            <div class="input-group mb-3" style="max-width: 190px;">
                              <input type="number" class="form-control" style="width: 50px;" value="0">
                              <button type="button" class="btn btn-dark">장바구니 담기</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- 메뉴 아이템 종료 -->

                    <!-- 메뉴 아이템 시작 -->
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="col-md-2">
                          <img src="/assets/img/card.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">후라이드 치킨</h5>
                            <p class="card-text">9,000원</p>
                            <div class="input-group mb-3" style="max-width: 190px;">
                              <input type="number" class="form-control" style="width: 50px;" value="0">
                              <button type="button" class="btn btn-dark">장바구니 담기</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- 메뉴 아이템 종료 -->

                    <!-- 메뉴 아이템 시작 -->
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="col-md-2">
                          <img src="/assets/img/card.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">후라이드 치킨</h5>
                            <p class="card-text">9,000원</p>
                            <div class="input-group mb-3" style="max-width: 190px;">
                              <input type="number" class="form-control" style="width: 50px;" value="0">
                              <button type="button" class="btn btn-dark">장바구니 담기</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- 메뉴 아이템 종료 -->

                    <!-- 메뉴 아이템 시작 -->
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="col-md-2">
                          <img src="/assets/img/card.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">후라이드 치킨</h5>
                            <p class="card-text">9,000원</p>
                            <div class="input-group mb-3" style="max-width: 190px;">
                              <input type="number" class="form-control" style="width: 50px;" value="0">
                              <button type="button" class="btn btn-dark">장바구니 담기</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- 메뉴 아이템 종료 -->

                    <!-- 메뉴 아이템 시작 -->
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="col-md-2">
                          <img src="/assets/img/card.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">후라이드 치킨</h5>
                            <p class="card-text">9,000원</p>
                            <div class="input-group mb-3" style="max-width: 190px;">
                              <input type="number" class="form-control" style="width: 50px;" value="0">
                              <button type="button" class="btn btn-dark">장바구니 담기</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- 메뉴 아이템 종료 -->

                    <!-- 메뉴 아이템 시작 -->
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="col-md-2">
                          <img src="/assets/img/card.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">후라이드 치킨</h5>
                            <p class="card-text">9,000원</p>
                            <div class="input-group mb-3" style="max-width: 190px;">
                              <input type="number" class="form-control" style="width: 50px;" value="0">
                              <button type="button" class="btn btn-dark">장바구니 담기</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- 메뉴 아이템 종료 -->

                    <!-- 메뉴 아이템 시작 -->
                    <div class="card mb-3">
                      <div class="row g-0">
                        <div class="col-md-2">
                          <img src="/assets/img/card.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">후라이드 치킨</h5>
                            <p class="card-text">9,000원</p>
                            <div class="input-group mb-3" style="max-width: 190px;">
                              <input type="number" class="form-control" style="width: 50px;" value="0">
                              <button type="button" class="btn btn-dark">장바구니 담기</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- 메뉴 아이템 종료 -->






                  </div>

                  <div class="tab-pane fade profile-edit pt-3" id="profile-edit" role="tabpanel">

                    <!-- 리뷰 아이템 시작 -->
                    <div class="card mb-1">
                      <div class="row g-0">
                        <div class="col-md-1" style="padding: 15px;">
                          <img src="/assets/img/card.jpg" class="img-fluid rounded-circle"
                            style="max-width: 100px; max-height: 100px; width: 95%; height: 95%; object-fit: cover; text-align: center;"
                            alt="...">
                        </div>
                        <div class="col-md-11">
                          <div class="card-body" style="padding: 15px;">
                            <div>
                              <span class="card-text" style="float: left;">★☆☆☆☆</span>
                              <div style="float: right;">
                                <a href="#">수정</a> <a href="#">삭제</a>
                              </div>
                            </div><br>
                            <p class="card-title" style="line-height: 10%;">홍길동</p>
                            <p class="card-text">여기 진짜 리얼로다가 맛없습니다. 1점 주기도 아깝네요</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- 리뷰 아이템 종료 -->

                  </div>

                </div><!-- End Bordered Tabs -->

              </div>
            </div>
          </div>

        </div>
      </section>

    </main><!-- End #main -->

    <%- include('includes/footer') %>

      <!-- Vendor JS Files -->
      <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
      <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/assets/vendor/chart.js/chart.umd.js"></script>
      <script src="/assets/vendor/echarts/echarts.min.js"></script>
      <script src="/assets/vendor/quill/quill.min.js"></script>
      <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
      <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
      <script src="/assets/vendor/php-email-form/validate.js"></script>

      <!-- Template Main JS File -->
      <script src="/assets/js/main.js"></script>
      <script type="module" src="/assets/js/index.js"></script>
      </body>

      </html>