<%- include('includes/header') %>
  <%- include('includes/sidebar') %>

    <main id="main" class="main">
        <section class="section">
            <div class="container text-center">
                <div class="row row-cols-4">   
                    <!-- Card with an image on top -->
                <div class="card" style="margin-right: 3%;">
                    <img src="assets/img/card.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card with an image on top</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div><!-- End Card with an image on top -->
                        
                            <!-- Card with an image on top -->
                <div class="card" style="margin-right: 3%;">
                    <img src="assets/img/card.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card with an image on top</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div><!-- End Card with an image on top -->
                        
                            <!-- Card with an image on top -->
                <div class="card" style="margin-right: 3%;">
                    <img src="assets/img/card.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card with an image on top</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div><!-- End Card with an image on top -->
                      
                <!-- Card with an image on top -->
                <div class="card" style="margin-right: 3%;">
                    <img src="assets/img/card.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card with an image on top</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div><!-- End Card with an image on top -->
                        
                            <!-- Card with an image on top -->
                <div class="card" style="margin-right: 3%;">
                    <img src="assets/img/card.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card with an image on top</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div><!-- End Card with an image on top -->
                        
                            <!-- Card with an image on top -->
                <div class="card" style="margin-right: 3%;">
                    <img src="assets/img/card.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card with an image on top</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div><!-- End Card with an image on top -->
                      
                <!-- Card with an image on top -->
                <div class="card" style="margin-right: 3%;">
                    <img src="assets/img/card.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card with an image on top</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div><!-- End Card with an image on top -->
                        
                            <!-- Card with an image on top -->
                <div class="card" style="margin-right: 3%;">
                    <img src="assets/img/card.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card with an image on top</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div><!-- End Card with an image on top -->
                        
                            <!-- Card with an image on top -->
                <div class="card" style="margin-right: 3%;">
                    <img src="assets/img/card.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card with an image on top</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div><!-- End Card with an image on top -->
              </div>
            </div>
          </section>


    </main><!-- End #main -->

    <%- include('includes/footer') %>

      <!-- Vendor JS Files -->
      <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
      <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="assets/vendor/chart.js/chart.umd.js"></script>
      <script src="assets/vendor/echarts/echarts.min.js"></script>
      <script src="assets/vendor/quill/quill.min.js"></script>
      <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
      <script src="assets/vendor/tinymce/tinymce.min.js"></script>
      <script src="assets/vendor/php-email-form/validate.js"></script>

      <!-- Template Main JS File -->
      <script src="assets/js/main.js"></script>
      <script type="module" src="assets/js/search.js"></script>
      </body>

      </html>